.socialf {
  width: 2.5rem;
  text-decoration: none;
  cursor: pointer;
}
.socialf:hover {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(183.6deg)
    brightness(0.98);
}

.socialstack {
  width: 2.5rem;
  text-decoration: none;
  cursor: pointer;
}
.socialstack:hover {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(0.91);
}
